<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, remote: remote) do |f| %>
  <%#= devise_error_messages! %>

  <% error_messages = resource.errors.messages %>

  <div class="field form-group">
    <%= f.label :current_password, _("My current password") %>
    <%= f.password_field :current_password, autocomplete: "off", class: "input-sm" %>
    <%= render 'shared/field_error', field_name: "Current password", error_messages: error_messages[:current_password] %>
  </div>

  <div class="field form-group">
    <%= f.label :password, _("New password") %>
    <%= f.password_field :password, autocomplete: "off", class: "input-sm" %>
    <%= render 'shared/field_error', field_name: "New password", error_messages: error_messages[:password] %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, _("Confirm new password") %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-sm" %>
    <%= render 'shared/field_error', field_name: "Password confirmation", error_messages: error_messages[:password_confirmation] %>
  </div>

  <div class="actions">
    <%= f.submit _("Change password"), class: "btn btn-block" %>
  </div>
<% end %>
